
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    
}
body{
    overflow-x: hidden;
   
}

/*Header Section start*/

.hero-area{
    background-image: url("./assets folder/Assets/Hero-bg.png");
    height: 698px;
    width: 1440px;
    display:;
   
}

.navbar{
    display: flex;
    height: 151px;
    width: 1140px;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
}

.logo{
    height: 51px;
    width: 99px;
}
.nav-links{
  
    background-color: #4E47FF;
    height:48px ;
    width:132px;
    border-radius: 10px;

}
.nav-links a{
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: bold;
    margin: 13px 30px ;
    display: inline-block;
   
}
.title{
    height: 237px;
    width: 905px;
    text-align: center;
    font-size: 40px;
    margin: 152px auto;
}
.btn1{
    color: #FFFFFF;
    background-color: #4E47FF;
    width: 174px;
    height: 48px;
    border: none;
    border-radius: 10px;
    margin-top: 28px;
    font-weight: bold;
    font-size: 16px;

}
 /*Header Section end*/

 /*first content start*/

 .first-content{
   
    display: flex;
    height: 328px;
    width: 1140px;
    margin: 0 auto;
    /* justify-content: space-between; */
    background-color:;
   
 }
 .detail-area{
    width: 600px;
    height: 328px;
    margin-top: 20px;
   
 }

  .detail-area h1{
    margin-top: 50px;
    font-size: 32px;
  }
 .detail-area p{
    margin-top: 20px;

 }

 .image1{
    border-radius: 100px;
    margin: 20px 425px;

 }
 .btn2{
    background-color: #4E47FF;
    width: 229px;
    height: 48px;
    margin-top: 25px;
    border-radius: 10px;
    text-align: center;
 }
 .btn2 a{
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: bold;
    margin: 13px 30px ;
    display: inline-block;
   
 }
    /*first content end*/

   /* second content start */

    .second-content{
        /* display: flex;
        height: 306px;
        width: 1140px;
        margin: 50px auto;
        align-items: center;
        background-color:; */

        margin: ;
        background-color:#bcbfd7 ;
        margin: 80px  auto;
        padding: 50px 150px 150px 150px;
        display: flex;
    }
    .second-content h2{
        font-size: 32px;
        /* margin-left: 300px; */
      
    
    }
    .details2{
        
       
    }

    .users-count{

    }
        